<div class="about-container">
    <h5>O Nama</h5>
    <p>
        Dobrodošli na našu platformu! Mi smo zajednica entuzijasta koji veruju u moć deljenja znanja, ideja i kreativnosti. Naša misija je da stvorimo prostor gde korisnici mogu slobodno izražavati svoje misli, deliti svoje priče i učiti jedni od drugih.
    </p>

    <h5>Naša Vizija</h5>
    <p>
        Naša vizija je da postanemo centralno mesto za inspiraciju i inovaciju, gde svako može pronaći nešto za sebe. Bilo da ste ovde da biste pisali, čitali ili diskutovali, naša platforma je tu da vas podrži u vašem kreativnom izražavanju.
    </p>

    <h5>Naš Tim</h5>
    <p>
        Tim koji stoji iza ove platforme sastoji se od posvećenih pojedinaca sa iskustvom u raznim oblastima – od razvoja softvera i dizajna, do marketinga i korisničke podrške. Naš cilj je da obezbedimo najbolje moguće iskustvo za naše korisnike.
    </p>

    <h5>Kontaktirajte Nas</h5>
    <p>
        Imate pitanja, predloge ili želite da sarađujete s nama? Slobodno nas kontaktirajte putem našeg e-maila: <a href="mailto:kontakt@vasaplatfroma.com">kontakt@vasaplatfroma.com</a> ili posetite našu stranicu za podršku.
    </p>

    <h5>Hvala Vam!</h5>
    <p>
        Zahvaljujemo se što ste deo naše zajednice. Vaša podrška i povratne informacije su ključne za naš rast i unapređenje. Radujemo se što ćemo zajedno stvarati budućnost!
    </p>
</div>
