:root {
    --pr-color: #3B1C32;
    --se-color: #6A1E55;
    --tr-color: #A64D79;
    --background-color: #1A1A1D;
    --background: #000000;
    --text-color: #E5D9F2;
    --text-color2: #F5EFFF;

}