@import url('color.css');

body {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-rows: 100px 1fr auto;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "side-panel main-content"
        "footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    width: 100%;
    background-color: var(--background-color);
}
.header-class{
    border-bottom: 2px solid var(--pr-color);
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: var(--background-color);
    text-align: center;
    padding: 10px;
}

.footer-class {
    border-top: 2px solid var(--pr-color);
}

footer p {
    color: var(--text-color);
}

.side-panel {
    grid-area: side-panel;
    padding: 20px;
    background-color: var(--background-color);
    border-right: 2px solid var(--pr-color);
    overflow-y: auto;
}
.side-panel2 {
    padding: 20px;
}

.main-content {
    grid-area: main-content;
    padding: 20px;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /
    padding: 0;
    height: 100%;
}

.logo {
    border-radius: 80%;
    height: 80px;
    padding: 5px;
    object-fit: contain;
}

#search-bar {
    width: 30%;
}

.search-bar {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--pr-color);
    border-radius: 50px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background);
}

.login-button {
    background-color: var(--se-color);
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--pr-color);
    border-radius: 50px;
    color: var(--text-color);
    text-align: center;
    text-decoration: none; /* Uklanja podvlacenje linka */

}


.panel-section h3 {
    border-top: 2px solid var(--pr-color);
    padding-top: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-color2);
}

.category-list, .popular-list {
    list-style-type: none;
    padding: 0;
}

.category-list li, .popular-list li {
    margin-bottom: 10px;
}

.category-list a, .popular-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

.category-list a:hover, .popular-list a:hover {
    text-decoration: underline;
}


.login-form {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: var(--background);
    padding: 20px;
    border: 2px solid var(--pr-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 50px;

}

form .form-group {
    margin-bottom: 20px;
}

form .login {
    background-color: var(--pr-color);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.name, .password, .login {
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 5px solid var(--pr-color);
}

.login-h2 {
    color: var(--text-color2);
}

.text {
    margin-bottom: 50px;
    font-size: 2rem;
}
.login-singup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pr-color);
    height: 25px;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
}
.logIn-singUp-button {
    color: var(--text-color);
    font-size: 0.8rem;
    text-decoration: none;
}
.main-content{
    overflow-y: auto;
    background-color: var(--background-color);
}
.settings-container {

}

.card {
    background-color: var(--background-color);
    padding: 20px;
    height: 300px;
    width: 1200px;
    border-top: 2px solid var(--pr-color);

}
.card-title a {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}
.card-text {
    font-size: 0.9rem;
    color: var(--text-color);
}

.cardVotes {
    height: 40px;
    width: 120px;
    border: 2px solid var(--pr-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    box-sizing: border-box;
    border-radius: 10px;
}

.upVote, .downVote {
    height: 20px;
    width: 30px;
    text-align: center;
    background-color: var(--pr-color);
    border: 1px solid var(--se-color);
    border-radius: 5px;
    cursor: pointer;
}

.voteCount {
    padding: 5px;
    width: 60px;
    font-size: 1.2rem;
    text-align: center;
    flex-shrink: 0;
    color: var(--text-color);
}

.card-footer {
    display: flex;
    text-align: center;
    padding-top: 20px;
    gap: 10px;
}

.autor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: 2px solid var(--pr-color);
    padding: 0 20px 0 20px ;
    text-align: center;
    border: 2px solid var(--pr-color);
    border-radius: 10px;
    cursor: pointer;
}

.coments {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--pr-color);
    padding: 0 20px 0 20px ;
    color: var(--text-color);
    text-align: center;
    border-radius: 10px;
}

/*  newPost   */

.new-post-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid var(--pr-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

.new-post-form .form-group {
    margin-bottom: 1rem;
}

.new-post-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.new-post-form input,
.new-post-form textarea,
.new-post-form button {
    resize: none; 
    overflow: auto;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--se-color);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background);
}

.new-post-form button {
    background-color: var(--pr-color);
    color: var(--text-color2);
    cursor: pointer;
}

.new-post-form button:hover {
    background-color: var(--pr-color);
}


/*  POST  */

.postPage {

}

.postTitle {
    color: var(--text-color);
    padding: 10px 0 20px 50px ;
    font-size: 2rem;
}

.postText {
    color: var(--text-color);
    padding: 0 20px 0 20px;
}